:root {
  --width: 8.25em;
  --height: 11.25em;
  --background: #502d2d;
  --text-color: #ccc; 
  --text-shadow: 0 3px 6px #000;  
  --number-size: 11.4375em;
  --border-radius: 0.375em;        
}

.flip-clock-wrapper {
   display: flex;
   align-items: center;
   font-size: 16px;

   &__spacer {
    font-size: 4.5em;
    color: var(--background);
   }
}


.animate-active {
  animation: aindex 0.5s 0.5s linear both;

  .num__down {
    animation: turnDown 0.5s 0.5s linear both;
  }

  .num-shadow--up {
    animation: hide 0.5s 0.3s linear both;
  }

  .num-shadow--down {
    animation: hide 0.5s 0.2s linear both;
  }
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'SF Pro Text';

  position: relative;
  padding: 0px;
  margin: 0.3125em;
  width: var(--width);
  height: var(--height);
  font-weight: bold;
  border-radius: var(--border-radius);
  background: #000;
  display: inline-block;
  vertical-align: top;
}

.num {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;

  &:first-child {
    z-index: 1;
  }

  &--before {
    z-index: 3;

    &:first-child {
      z-index: 3;
    }

    .num__up {
      z-index: 2;
      animation: turnUp 0.5s linear both;
    }

    .num__shadow--up {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        #000 100%
      );
      animation: show 0.5s linear both;
    }

    .num__shadow--down {
      background-image: linear-gradient(
        to bottom,
        #000 0%,
        rgba(0, 0, 0, 0.1) 100%
      );
      animation: show 0.5s linear both;
    }
  }

  &--active {
    z-index: 5;

    .num__down {
      z-index: 2;
    }

    .num-shadow--up {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0.1)),
        color-stop(100%, black)
      );
    }

    .num-shadow--down {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, black),
        color-stop(100%, rgba(0, 0, 0, 0.1))
      );
    }
  }

  &__wrapper {
    display: block;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
    perspective: 62.5em;
    margin: 0;
    overflow: visible;
    cursor: default;
  }

  &__up,
  &__down {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  &__up {
    top: 0;
    transform-origin: 50% 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__down {
    bottom: 0;
    transform-origin: 50% 0;
  }

  &__shadow {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 5em;
    overflow: hidden;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    text-align: center;
    background-color: var(--background);
    border-radius: 0.04em;
    font-size: var(--number-size);

    &--up {
      top: 0;
    }

    &--down {
      bottom: 0;
    }
  }
}

@keyframes aindex {
  0% {
    z-index: 2;
  }

  20% {
    z-index: 4;
  }

  100% {
    z-index: 4;
  }
}

@keyframes turnUp {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes turnDown {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

